* {
    margin: 0;
    padding: 0;
}

html {
    padding: 0
}

.product-text content {
    font-size: 14px;
}

.i-main {
    width: 998px;
    margin: 12px auto 2px;
    overflow: hidden;
}

.left-menu {
    clear: both;
    display: table-cell;
    background: #191614;
    vertical-align: top;
}

.left-menu-title-label {
    height: 55px;
    width: 67px;
    float: Left;
    background: url(img/menu-title-bg.jpg);
    border-right: 1px solid #060606;
    border-top: 1px solid #373737;
}

.left-menu-title-label div {
    height: 32px;
    width: 24px;
    background: url(img/sprite-1.png) no-repeat 0 100%;
    margin: 11px auto 0;
}

.left-menu-title-text {
    color: #f2f2f2;
    font: bold 18px/62px OS;
    text-shadow: 0 1px 0 #000;
    float: Left;
    font-weight: bold;
    width: 159px;
    padding: 0 0 0 23px;
    background: url(img/menu-title-bg.jpg);
    border-top: 1px solid #373737;
    height: 55px;
}

.left-menu-block {
    float: left;
    clear: both;
    padding: 34px 0 43px;
    width: 250px;
}

.left-menu-block > ul > li {
    list-style: none;
    clear: both;
}

.left-menu-block > ul > li > a {
    font: 16px/17px Arial;
    display: block;
    width: 221px;
    text-decoration: none;
    border-right: 5px solid #191614;
    color: #ebebeb;
    padding: 10px 0 10px 24px;
}

.left-menu-block > ul > li > a:before {
    content: "";
    width: 7px;
    height: 7px;
    background: #fff;
    float: Left;
    margin: 4px 9px 0 -15px;
}

.left-menu-block > ul > li > a:hover:before {
    background: #efc300;
}

.left-menu-block > ul > li > a:hover {
    border-right: 5px solid #efc400;
    color: #efc300;
}

.left-menu-block > ul > li > ul {
    background: #211d1b;
    padding: 21px 0px 7px 72px;
    list-style: none;
    margin: -6px 0 18px;
}

.left-menu-block > ul > li > ul > li > a {
    font: 16px/16px Arial;
    color: #ebebeb;
    text-decoration: none;
    margin: 0 0 19px;
    display: block;
}

.left-menu-block > ul > li > ul > li > a:hover {
    color: #efc400;
}

.right {
    width: 745px;
    display: table-cell;
    padding: 0 0 45px 2px;
}

.i-right-title {
    height: 55px;
    border-top: 1px solid #373737;
    background: url(img/menu-title-bg.jpg);
}

.i-right-title-label {
    float: Left;
}

.i-right-title-label-1 {
    width: 39px;
    height: 38px;
    background: url(img/sprite-1.png) no-repeat -25px 0;
    margin: 10px 0 0 18px;
}

.i-right-title-label-2 {
    width: 36px;
    height: 32px;
    background: url(img/sprite-1.png) no-repeat -67px 100%;
    margin: 12px 0 0 24px;
}

.i-right-title-label-3 {
    width: 36px;
    height: 41px;
    background: url(img/sprite-1.png) no-repeat -106px 100%;
    margin: 3px 0 0 30px;
}

.i-right-title-label-4 {
    width: 20px;
    height: 35px;
    background: url(img/sprite-1.png) no-repeat -142px 100%;
    margin: 9px 0 0 18px;
}

.i-right-title-label-5 {
    width: 34px;
    height: 33px;
    background: url(img/sprite-1.png) no-repeat -166px 100%;
    margin: 12px 4px 0 20px;
}

.i-right-title-label-6 {
    width: 10px;
    height: 31px;
    background: url(img/sprite-1.png) no-repeat -202px 100%;
    margin: 10px 3px 0 24px;
}

.i-right-title-label-7 {
    width: 36px;
    height: 39px;
    background: url(img/sprite-1.png) no-repeat -214px 100%;
    margin: 10px 3px 0 16px;
}

.i-right-title-label-8 {
    width: 42px;
    height: 37px;
    background: url(img/sprite-1.png) no-repeat -252px 100%;
    margin: 10px 3px 0 15px;
}

.i-right-title-label-9 {
    width: 33px;
    height: 32px;
    background: url(img/sprite-1.png) no-repeat -296px 100%;
    margin: 10px 3px 0 15px;
}

.i-right-title-label-10 {
    width: 36px;
    height: 39px;
    background: url(img/catalog-label.png) no-repeat 0 0;
    margin: 10px 3px 0 15px;
}

.i-right-title-text {
    font: bold 30px OS;
    color: #efc400;
    float: left;
    margin: 6px 0 0 7px;
    text-shadow: 1px 2px 0 #000;
}

.i-right-title-all {
    width: 118px;
    height: 31px;
    -moz-border-radius: 3px / 3px 3px 3px 3px;
    -webkit-border-radius: 3px / 3px 3px 3px 3px;
    border-radius: 3px / 3px 3px 3px 3px;
    background-color: #252525;
    -moz-box-shadow: inset 0 0 5px #000;
    -webkit-box-shadow: inset 0 0 5px #000;
    box-shadow: inset 0 0 5px #000;
    float: right;
    text-align: center;
    font: 14px/28px OS;
    color: #e1e1e1;
    text-decoration: none;
    margin: 14px 6px 0 0;
}

.i-right-title-all:hover {
    color: #efc400;
}

.r-cat {
    overflow: hidden;
    padding: 10px 0 35px 2px;
    text-align: left;
    vertical-align: top;
}

.r-cat-box {
    width: 230px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 15px;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
}

.r-cat-acii {
    position: absolute;
    top: 4px;
    left: 0;
}

.r-cat-acii div {
    -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, .27);
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, .27);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .27);
    color: #ebb143;
    font: bold 18px OS;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, .41);
    -moz-border-radius: 0 9px 9px 0px;
    -webkit-border-radius: 0 9px 9px 0px;
    border-radius: 0 9px 9px 0px;
    background: #262626;
    padding: 4px 10px 5px 9px;
    margin: 0 0 7px 0;
    float: Left;
    clear: both;
}

.r-cat-img {
    background: #eeeeee;
    height: 195px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    text-decoration: none;
}

.r-cat-img img {
    display: inline-block;
    max-width: 228px;
    max-height: 195px;
}

.r-cat-other {
    background: #646464;
    overflow: hidden;
}

.r-cat-other-title {
    width: 134px;
    float: left;
    padding: 8px 0 10px 20px;
}

.r-cat-other-title div {
    color: #fff;
    font: bold 14px/15px OS;
    padding: 0 0 7px 0;
}

.r-cat-other-title div a {
    text-decoration: none;
}

.r-cat-other-title div a:hover {
    color: #ccc
}

.r-cat-other-title p {
    color: #fff;
    font: 600 12px OS;
}

.r-cat-other-price {
    width: 73px;
    float: right;
    border-left: 2px solid #070707;
}

.r-cat-other-price div {
    width: 73px;
    height: 36px;
    text-align: center;
    display: table-cell;
    line-height: 17px;
    vertical-align: middle;
}

.r-cat-other-price-old {
    font: bold 13px/13px OS;
    color: #fff;
    text-decoration: line-through;
    display: block;
    clear: both;
    letter-spacing: -1px;
}

.r-cat-other-price-true {
    font: bold 16px/16px OS !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .61);
    color: #efc400;
    display: block;
    clear: both;
}

.product .r-cat-other-price-true {
    font: bold 18px/18px OS !important;
}

.product .r-cat-other-price-old {
    font: bold 14px/14px OS;
}

.cat-buy, .false-buy {
    background: url(img/cat-buy.jpg) no-repeat 0 50% !important;
    height: 36px;
    width: 73px;
    border: none !important;
    float: left;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}

.false-buy {
    opacity: 0.8;
}

.false-buy1 {
    background: none repeat scroll 0 0 #ccc !important;
    font: 12px/12px OS !important;
    height: 32px !important;
    padding: 4px 0 0 !important;
    text-align: center;
}

.product .false-buy {
    float: right;
    height: 46px !important;
}

.cat-buy:hover {
    background: url(img/cat-buy.jpg) no-repeat 100% 50% !important;
}

.right404 {
    background: rgba(0, 0, 0, 0.75);
}

.right404-img {
    float: left;
    margin: 37px 0 0 22px;
}

.right404-home {
    font: 12px/32px OS;
    color: #fefefe;
    display: block;
    width: 156px;
    height: 35px;
    border: 2px solid rgba(236, 182, 49, .79);
    -moz-border-radius: 5px / 4px;
    -webkit-border-radius: 5px / 4px;
    border-radius: 5px / 4px;
    padding: 0;
    float: Left;
    text-decoration: none;
    text-align: center;
    margin: 124px 0 0 20px;
}

.right404-home:hover {
    border: 2px solid #fff;
}

.right404-littletext {
    /*font:italic 36px OS;*/
    color: #fff;
    margin: -50px 0 0 215px;
    float: Left;
    clear: left;
}

.right404-text {
    /*font:italic 18px OS;*/
    color: #fff;
    clear: both;
    padding: 31px 13px 0 21px;
}

.r-cat-other-price-cell {
    width: 96px !important;
    height: 46px !important;
    text-align: center;
    display: table-cell;
    line-height: 17px;
    vertical-align: middle;
    background: #646464;
}

.r-cat-other-price-cell-wrp {
    float: right;
    width: 96px !important;
}

.ui-widget-content {
    background: #040404;
    border: none;
    padding-bottom: 0 !important;
}

.ui-menu-item.ui-state-focus {
    color: #efc400 !important;
    font: 600 14px OS !important;
    background: #545454 !important;
    margin: 0 !important;
}

.ui-menu-item {
    color: #fff !important;
    font: 600 14px OS !important;
    border: none !important;
    padding: 5px 0 5px 12px !important;
}

.right-catalog .r-cat-box {
    margin: 0 0 19px 14px;
}

.right-catalog .pagination {
    padding: 0;
    margin: -14px 0 0 0;
}
